absl-py==1.4.0
aiohttp==3.8.4
aiosignal==1.3.1
aniso8601==9.0.1
anyio==3.6.2
appdirs==1.4.4
appnope==0.1.3
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
arrow==1.2.3
asgiref==3.7.2
astor==0.8.1
asttokens==2.2.1
astunparse==1.6.3
async-timeout==4.0.2
attrs==22.2.0
autogpt==0.0.1.dev0
backcall==0.2.0
beautifulsoup4==4.11.1
bleach==5.0.1
blinker==1.6.2
branca==0.6.0
brewer2mpl==1.4.1
bs4==0.0.1
cachetools==5.3.0
cerebro-dl==1.1.1
certifi==2022.9.24
cffi==1.15.1
charset-normalizer==2.1.1
chart-studio==1.1.0
click==8.1.3
clikit==0.6.2
cloudpickle==2.2.1
cmdstanpy==0.9.5
colorlog==6.7.0
colorlover==0.3.0
comm==0.1.2
contourpy==1.0.6
convertdate==2.4.0
crashtest==0.3.1
cryptography==39.0.0
cssselect==1.2.0
cufflinks==0.17.3
cycler==0.11.0
Cython==0.29.34
dataclasses-json==0.5.12
dautil==0.0.1b2
debugpy==1.6.5
decorator==5.1.1
defusedxml==0.7.1
dill==0.3.6
diskcache==5.6.1
distlib==0.3.7
dnspython==2.4.0
docutils==0.19
entrypoints==0.4
ephem==4.1.4
et-xmlfile==1.1.0
executing==1.2.0
fake-useragent==1.2.1
fastjsonschema==2.16.2
feedparser==6.0.10
filelock==3.12.0
fix-yahoo-finance==0.1.37
Flask==2.3.2
flask-restplus==0.13.0
Flask-SQLAlchemy==3.0.5
flatbuffers==23.3.3
folium==0.13.0
fonttools==4.38.0
fqdn==1.5.1
frozendict==2.3.4
frozenlist==1.3.3
fsspec==2023.6.0
future==0.18.3
gast==0.4.0
ggplot==0.11.5
google==3.0.0
google-auth==2.16.2
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
greenlet==2.0.2
grpcio==1.51.3
gurobipy==10.0.1
h11==0.14.0
h5py==3.8.0
hijri-converter==2.2.4
holidays==0.22
html5lib==1.1
httpcore==0.17.3
httpstan==4.9.1
huggingface-hub==0.16.4
hyperopt==0.2.7
idna==3.4
importlib-metadata==6.8.0
inflection==0.5.1
iniconfig==2.0.0
ipykernel==6.20.1
ipython==8.8.0
ipython-genutils==0.2.0
ipywidgets==8.0.4
isoduration==20.11.0
itsdangerous==2.1.2
jax==0.4.6
jedi==0.18.2
Jinja2==3.1.2
joblib==1.2.0
jsonpatch==1.32
jsonpointer==2.3
jsonschema==4.17.3
jupyter==1.0.0
jupyter-console==6.4.4
jupyter-events==0.6.2
jupyter_client==7.4.8
jupyter_core==5.1.3
jupyter_server==2.0.6
jupyter_server_terminals==0.4.4
jupyterlab-pygments==0.2.2
jupyterlab-widgets==3.0.5
keras==2.12.0
kiwisolver==1.4.4
korean-lunar-calendar==0.3.1
landslide==2.0.0
langchain==0.0.237
langsmith==0.0.10
lazypredict==0.2.12
libclang==15.0.6.1
lightgbm==3.3.5
llvmlite==0.40.0
loguru==0.7.0
LunarCalendar==0.0.9
lxml==4.9.2
Markdown==3.4.1
MarkupSafe==2.1.2
marshmallow==3.19.0
matplotlib==3.6.2
matplotlib-inline==0.1.6
mistune==2.0.4
mizani==0.9.0
more-itertools==9.1.0
mplfinance==0.12.10b0
mpmath==1.3.0
multidict==6.0.4
multitasking==0.0.11
mypy-extensions==1.0.0
nbclassic==0.4.8
nbclient==0.7.2
nbconvert==7.2.7
nbformat==5.7.2
nest-asyncio==1.5.6
networkx==3.0
nltk==3.8.1
notebook==6.5.2
notebook_shim==0.2.2
numba==0.57.0
numexpr==2.8.4
numpy==1.23.5
oauthlib==3.2.2
openai==0.27.8
openapi-schema-pydantic==1.2.4
opencv-python==4.7.0.72
openpyxl==3.1.2
opt-einsum==3.3.0
ordered-set==4.1.0
packaging==23.0
pandas==1.5.2
pandas-datareader==0.10.0
pandas-ta==0.3.14b0
pandocfilters==1.5.0
parse==1.19.1
parsel==1.7.0
parso==0.8.3
pastel==0.2.1
patsy==0.5.3
petastorm==0.12.1
pexpect==4.8.0
pickleshare==0.7.5
Pillow==9.4.0
pinecone-client==2.2.2
pivottablejs==0.9.0
platformdirs==2.6.2
plotly==5.15.0
plotnine==0.10.1
pluggy==1.2.0
ply==3.11
prometheus-client==0.15.0
prompt-toolkit==3.0.36
protobuf==4.22.1
psutil==5.9.4
ptyprocess==0.7.0
pure-eval==0.2.2
py4j==0.10.9.5
pyarrow==12.0.1
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.21
pydantic==1.10.11
pyee==8.2.2
Pygments==2.14.0
pygwalker==0.1.9.1
PyLaTeX==1.4.1
pylev==1.4.0
PyMeeus==0.5.12
pyod==1.0.9
Pyomo==6.4.4
pyparsing==3.0.9
pyppeteer==1.0.2
pyquery==2.0.0
pyrsistent==0.19.3
pysimdjson==5.0.2
pyspark==3.3.1
pystan==3.6.0
pytest==7.4.0
python-dateutil==2.8.2
python-dotenv==1.0.0
python-json-logger==2.0.4
pytube==12.1.2
pytz==2022.7
PyYAML==6.0
pyzmq==24.0.1
qtconsole==5.4.0
QtPy==2.3.0
Quandl==3.7.0
reactpy==1.0.0
regex==2023.3.23
requests==2.28.1
requests-html==0.10.0
requests-oauthlib==1.3.1
retrying==1.3.4
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rsa==4.9
safetensors==0.3.1
scikit-learn==1.2.0
scipy==1.10.0
seaborn==0.12.2
selectorlib==0.16.0
Send2Trash==1.8.0
setuptools-git==1.2
sgmllib3k==1.0.0
six==1.16.0
sniffio==1.3.0
soupsieve==2.3.2.post1
spark==0.2.1
SQLAlchemy==2.0.19
stack-data==0.6.2
statsmodels==0.13.5
sympy==1.12
tabulate==0.9.0
tenacity==8.2.2
tensorboard==2.12.0
tensorboard-data-server==0.7.0
tensorboard-plugin-wit==1.8.1
tensorflow==2.12.0rc1
tensorflow-estimator==2.12.0
tensorflow-io-gcs-filesystem==0.31.0
termcolor==2.2.0
terminado==0.17.1
threadpoolctl==3.1.0
tiktoken==0.4.0
tinycss2==1.2.1
tokenizers==0.13.3
torch==2.0.1
torchvision==0.15.2
tornado==6.2
tqdm==4.65.0
traitlets==5.8.1
transformers==4.31.0
tweepy==4.14.0
typing-inspect==0.9.0
typing_extensions==4.5.0
uri-template==1.2.0
urllib3==1.26.12
virtualenv==20.24.1
w3lib==2.1.1
wcwidth==0.2.5
webargs==8.2.0
webcolors==1.12
webencodings==0.5.1
websocket-client==1.4.2
websockets==10.4
Werkzeug==2.2.3
widgetsnbextension==4.0.5
wrapt==1.14.1
xgboost==1.7.5
yahoo-fin==0.8.9.1
yahoofinancials==1.16
yarl==1.8.2
yfinance==0.2.4
zipp==3.16.2
